<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/singer.css">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../static/js/singer.js"></script>
    <!--本地CSS和JS文件引用-->
    <link href="../static/css/homepage.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Singers</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="wrap">
                <div class="logo">
                    <a herf="index.html">
                        <img id="logo" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1533961756161&di=08088e1113ac47e2b2e8fbe3e89dc7f5&imgtype=0&src=http%3A%2F%2Fimg.25pp.com%2Fuploadfile%2Fapp%2Ficon%2F20151215%2F1450143551223555.jpg" alt="">
                    </a>
                </div>
                <div class="search">
                    <form>
                        <input type="text" placeholder="请输入您要搜索的内容...">
                        <button type="submit"></button>
                    </form>
                </div>
                <div class="character">
                    <ul>
                        <li>
                            <a target="_blank" href="#">我的音乐</a>
                        </li>
                        <li>
                            <a target="_blank" href="#">客户端</a>
                        </li>
                    </ul>
                    <div class="login_area">
                        <a href="#" class="btn btn-primary active" role="button">登陆</a>
                        <a href="#" class="btn btn-default active" role="button">注册</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabBox">
            <ul class="homemenu">
                <li><a class="tab" href="javascript:;" data-index="0">首页</a></li>
                <!--通过data-index传递数据-->
                <li><a class="tab" id="unchange" href="javascript:;" data-index="1">排行榜</a></li>
                <li><a class="tab selected" id="unchange" href="javascript:;" data-index="2">歌手</a></li>
                <li><a class="tab" id="unchange" href="javascript:;" data-index="3">专辑</a></li>
                <li class="more">
                    <a class="tab" id="unchange"  href="javascript:;" data-index="4">更多</a>
                    <ul class="secondmenu">
                        <li><a href="#">电台</a> </li>
                        <li><a href="#">MV</a> </li>
                        <li><a href="#">歌单</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="singer_tag">
                <div class="index">
                    <a href="javascript:;" class="hot">热门</a>
                    <a href="javascript:;">A</a>
                    <a href="javascript:;">B</a>
                    <a href="javascript:;">C</a>
                    <a href="javascript:;">D</a>
                    <a href="javascript:;">E</a>
                    <a href="javascript:;">F</a>
                    <a href="javascript:;">G</a>
                    <a href="javascript:;">H</a>
                    <a href="javascript:;">I</a>
                    <a href="javascript:;">J</a>
                    <a href="javascript:;">K</a>
                    <a href="javascript:;">L</a>
                    <a href="javascript:;">M</a>
                    <a href="javascript:;">N</a>
                    <a href="javascript:;">O</a>
                    <a href="javascript:;">P</a>
                    <a href="javascript:;">Q</a>
                    <a href="javascript:;">R</a>
                    <a href="javascript:;">S</a>
                    <a href="javascript:;">T</a>
                    <a href="javascript:;">U</a>
                    <a href="javascript:;">V</a>
                    <a href="javascript:;">W</a>
                    <a href="javascript:;">X</a>
                    <a href="javascript:;">Y</a>
                    <a href="javascript:;">Z</a>
                </div>
                <div class="area_item">
                    <a href="javascript:;"class="hot">全部</a>
                    <a href="javascript:;">内地</a>
                    <a href="javascript:;">港台</a>
                    <a href="javascript:;">欧美</a>
                    <a href="javascript:;">日本</a>
                    <a href="javascript:;">韩国</a>
                    <a href="javascript:;">其他</a>
                </div>
                <div class="sex">
                    <a href="javascript:;"class="hot">全部</a>
                    <a href="javascript:;">男</a>
                    <a href="javascript:;">女</a>
                    <a href="javascript:;">组合</a>
                </div>
            </div>
            <ul class="singer_img">
                <li>
                    <div class="show">
                        <a href="" class="pic"><img src="../static/img/1.jpg"></a>
                        <h4>学之前</h4>
                    </div>
                </li>
                <li>
                    <div class="show">
                        <a href="" class="pic"><img src="../static/img/1.jpg"></a>
                        <h4>学之前</h4>
                    </div>
                </li>
                <li>
                    <div class="show">
                        <a href="" class="pic"><img src="../static/img/1.jpg"></a>
                        <h4>学之前</h4>
                    </div>
                </li>
                <li>
                    <div class="show">
                        <a href="" class="pic"><img src="../static/img/1.jpg"></a>
                        <h4>学之前</h4>
                    </div>
                </li>
                <li>
                    <div class="show">
                        <a href="" class="pic"><img src="../static/img/1.jpg"></a>
                        <h4>学之前</h4>
                    </div>
                </li>
                <li>
                    <div class="show">
                        <a href="" class="pic"><img src="../static/img/1.jpg"></a>
                        <h4>学之前</h4>
                    </div>
                </li>
                <li>
                    <div class="show">
                        <a href="" class="pic"><img src="../static/img/1.jpg"></a>
                        <h4>学之前</h4>
                    </div>
                </li>
                <li>
                    <div class="show">
                        <a href="" class="pic"><img src="../static/img/1.jpg"></a>
                        <h4>学之前</h4>
                    </div>
                </li>
            </ul>
            <ul class="all_singer">
                <li><a href="">庄心妍</a></li>
                <li><a href="">庄心妍</a></li>
                <li><a href="">庄心妍</a></li>
                <li><a href="">庄心妍</a></li>
                <li><a href="">庄心妍</a></li>
                <li><a href="">庄心妍</a></li>
            </ul>
        </div>
    </div>
</body>
</html>