*{
    padding:0;
    margin:0;
}
div,ul,li,img,a,span,h3{
    margin:0;
    padding:0
}
.container{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
}
/*搜索+logo*/
.header{
    width:100%;
    height:100%;
    /*background-color: #c1e2b3;*/
    padding-top:0;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
}

.wrap{
    width:1000px;
    height:78px;
    position:relative;
    margin: 0 auto;
}
.wrap a{
    text-decoration:none;
}
.wrap li{
    list-style-type:none;
    float:left;
}
.logo{
    margin: 0;
    padding: 0;
    float:left;
}
#logo{
    width:153px;
    height:50px;
    margin: 10px;
}

.search{
    float:left;
}

.search form {
    position: relative;
    width: 300px;
    margin-left:30px;
    margin-top: 15px;
}

.search input, .search button {
    border: none;
    outline: none;
}

.search input {
    width: 100%;
    height: 42px;
    padding-left: 13px;
}
.search input {
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    background: #F9F0DA;
    color: #9E9C9C;
}
.search button {
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
}
.search button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

.character{
    float:left;
    margin-left: 120px;
    padding-top: 17px;
}
.character ul{
    float:left;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 20px;
    border-right: 1px solid #e6e6e6;
}
.character li{
    padding-bottom:5px;
    padding-left: 5px;
    padding-right: 30px;
    padding-top: 5px;
}
.login_area{
    float:left;
    margin:5px;
}

/*导航*/
*{
    padding: 0;
    margin: 0;
}/*一定要设置，ul,li等元素有默认的margin，padding。不手动去掉影响以后布局*/
.tabBox{
    background-color: #f4f4f4;
    border-bottom: 1px solid #dcdcdc;
    position: relative;
    height: 70px;
    width:100%;
}
.homemenu{
    list-style: none;
    /*position: relative;*/
    /*left: 200px;*/
    margin: auto;
    height: 100%;
    width:750px;
}
.homemenu li{
    float: left;
    margin: 0;
    height:100%;
    position: relative;
}
.homemenu a{
    display: inline-block;
    padding: 20px 40px 20px 40px;/*撑开a标签，不让边框紧贴着文字*/
    line-height: 30px;/*垂直方向上居中，vertical-align没有作用，当height=line-height时居中！！*/
    font-size: 20px;
    text-decoration: none;
    color: black;
    position: relative;
}
.selected{
    /*height: 30px;*//*这个样式中有了2px上边，如果不改变高会溢出，设置overflow也不行，因为我们将它下移1px,覆盖最外层的border*/
    background-color: #b9ffde;
    border-top: 1px solid #b9ffde;
    border-left:1px solid #b9ffde;
    border-right: 1px solid #b9ffde;
    position: relative;
}
.homemenu ul{
    position: absolute;
    /*width:120px;*/
    display: none;
    background: #b9ffde;
    z-index:99999;
}
.homemenu ul li{
    list-style-type:none;
}
.main{
    max-width: 1050px;
    margin: 0 auto;
    position: relative;
}
.mod-data{
    position: relative;
    height: 250px;
    padding-left: 305px;
    margin-top: 40px;
    margin-bottom: 35px;
}
.mod-data .cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 250px;
}
.mod-data .cover a{
    color: #000;
    text-decoration: none;
}
.mod-data .cover a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 999px;
}
.info{
    float:left;
    padding-top: 25px;
    width:95%;
}
.info h1{
    font-size: 38px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    margin-right: 10px;
}
.info p{
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 2px;
}
.info ul{
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    font-size: 0;
}
.info ul li{
    display: inline-block;
    border-right: solid 1px #c9c9c9;
    text-align: center;
    padding-right: 20px;
    margin-right: 20px;
    font-size: 18px;
    list-style: none;
}
.info ul li a{
    text-decoration: none;
}
.hot_part .tool_bar{
    position: relative;
    margin-bottom: 20px;
    font-size: 0;
    height:38px;
    margin-top:5px;
}
.hot_part .tool_bar a{
    text-decoration: none;
    cursor: auto;
    margin-right: 6px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}
.hot_part .tool_bar .button{
    border: 1px solid #31c27c;
    background-color: #31c27c;
    color: #fff;
    border-radius: 2px;
    font-size: 14px;
    /*margin-right: 6px;*/
    padding: 0 23px;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
}
.mid_song{
    margin-bottom: 40px;
    font-size: 14px;
    overflow: hidden;
}
.mid_header{
    /*padding-left: 122px;*/
    height: 50px;
    line-height: 50px;
    background-color: rgba(0,0,0,.01);
    color: #999;
    position: relative;
    padding-right: 0;
}
.mid_header ul{
    width:100%;
    height: 50px;
    padding:0px;
}
.mid_header ul li{
    list-style-type: none;
    margin:0px;
    padding:0px;
    float:left;
}
#music{
    width: 50%;
}
#album{
    width: 42%;
}
#time{
    width: 8%;
}
.all_song ul{
    width:100%;
    margin:0px;
}
.all_song ul li{
    list-style-type: none;
    margin:0px;
    padding-top:5px;
    padding-bottom:5px;
}
.all_song .content{
    width:100%;
    height:30px;
}
.all_song .content a{
    text-decoration:none;
    color:black;
    float:left;
}

.music{
    width: 50%;
}
.album{
    width: 42%;
}
.time{
    width: 8%;
}

.album_part h3{
    float:left;
    width:95%;
}
.album_part a{
    text-decoration:none;
    float:left;
}

.album_list{
    background-color: #fbfbfd;
    padding: 34px 0 17px 0px;
    margin: 30px 0 20px;
    width:100%;
}
.album_list li{
    display: inline-block;
    width: 19.5%;
    padding-bottom: 44px;
    overflow: hidden;
    font-size: 14px;
    vertical-align: top;
    list-style: none;
    padding-left:15px;
}
.msg{
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 100%;
    margin-bottom: 15px;
}
.msg a{
    width:100%;
}
.msg a img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:205px;
}
.album_name{
    margin-top:10px;
    padding-top: 10px;
}
.album_name .albumname{
    color:#000;
    float:left;
    text-decoration: none;
}
.album_name .albumsinger{
    color:#999;
    float:left;
    text-decoration: none;
}